.ant-input-group {
  top: 50vh;
  left: 50vw;
  width: 50vw;
  transform: translate(-50%,-50%);
} 

body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: linear-gradient(20deg, rgb(248, 41, 152), #faecaf, #22a1f6);
    animation: hueRotate 30s infinite alternate;
}

@keyframes hueRotate {
    100% {
        filter: hue-rotate(360deg);
    }
}
